html, body{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(😄😄.jpg);
    background-size: contain;    
}
.container{
    margin-bottom: 200px;
    width: 380px;
    gap: 10px;
    background: rgba(184, 23, 184, 0.429);
    height: 100%;
    color: white;
    border-radius: 30px;
    opacity: 0.8;
}
#inputfield{
    width: 300px;
    height: 46px;
    border: 1px solid gray;
    outline: none;
    font-style: 25px;
    vertical-align: middle;
    border-radius: 6px;
    color: black;
    opacity: 0.8;
}
#addToDo{
    height: 46px;
    width: 46px;
    vertical-align: middle;
    font-size: 30px; 
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    opacity: 0.8;
    gap: 10px;
}
.paragraph-styling{
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    opacity: 0.8;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    width: 300px;
    height: 46px;
    text-align: center;
}